<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue ServiceWorker</title>
  <style>
    .toast {
      position: fixed;
      bottom: 10px;
      left: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
      color: #fff;
    }

    .toast.error {
      background: red;
    }

    .toast.info {
      background: blue;
    }

    .toast.show {
      display: block;
    }

    .toast.hide {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <div>hello service worker! ^_^</div>

  <div class="toast hide" id="toast"></div>
  <!-- Vue v2.6.10 +  vue-router v3.0.6 -->
  <script src="https://zymfe.github.io/static/js/vue-library.min.js"></script>

  <script>
    function toast(message, type) {
      var toast = document.querySelector('#toast');
      var classList = toast.classList;
      toast.innerHTML = message;
      classList.remove('hide');
      classList.add('show');
      classList.add(type);
      setTimeout(function () {
        classList.remove('show');
        classList.remove(type);
        classList.add('hide');
      }, 3000);
    }
  </script>

  <% if (htmlWebpackPlugin.options.isProd) { %>
  <script type="text/javascript">
    ; (function (window) {
      if ('serviceWorker' in window.navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js?v=' + <%= htmlWebpackPlugin.options.SW_TIMESTAMP %>, { scope: './' })
            .then(function (registration) {
              console.log('[Service Worker regist successfully]: ', registration);
            })
            .catch(function (error) {
              console.error('[Service Worker regist failed]: ', error);
            });
        });
      }
    })(window);
  </script>
  <% } %>
</body>

</html>